extends layout
include includes/mixins

block main
  include includes/new-post
  div(class='divider')
  if !posts
    include includes/empty-posts
  else
    each post in posts
      +post(post, false)
