extends layout
include includes/mixins

block main
  include includes/new-post
  div(class='divider')
  div(class='flex flex-col gap-6')
    each post in posts
      +post(post, false)
    else
      include includes/empty-posts
