html
  head
    title Register
  body
    h1 Register new user
    form(action='/register' method='post')
      div
        label(for='username') Username
        input(type='text' name='username' id='username')
      div
        label(for='password') Password
        input(type='password' name='password' id='password')
      div
        label(for='display-name') Display name
        input(type='text' name='displayName' id='display-name')
      button Register