html
  head
    title Register
  body
    h1 Register new user
    form(action='/register', method='post')
      div
        label(for='username') Username
        input#username(type='text', name='username')
      div
        label(for='password') Password
        input#password(type='password', name='password')
      div
        label(for='display-name') Display name
        input#display-name(type='text', name='displayName')
      button Register
