extends layout
include components/post
include components/new-post

block main
  if (error)
    include components/alert-error
    +alert-error(error)
  +new-post('/posts', `What's on your mind?`, 'Post')
  div(class='divider')
  div(class='flex flex-col gap-6')
    each post in posts
      +post(post, false)
    else
      include includes/empty-posts
  script.
    const url = `${location.origin}${location.pathname}`;
    sessionStorage.setItem('referrers', JSON.stringify([url]));
